<!DOCTYPE html>
<html>
<head>
    <script src="http://lib.sinaapp.com/js/jquery/2.0.2/jquery-2.0.2.min.js"></script>

</head>
<body>

<form name = "form" enctype = "multipart/form-data"
      action = "/saved/" method = "POST" >{% csrf_token %}

    <div style = "max-width:470px;">
        <center>
            <input type = "text" style = "margin-left:20%;"
                   placeholder = "Name" name = "name" />
        </center>
    </div>

    <br>

    <div style = "max-width:470px;">
        <center>
            <input type = "file" style = "margin-left:20%;" id="inputs"
                   placeholder = "Picture" name = "picture" />
        </center>
    </div>
    <div id="dd"></div>

    <br>

    <div style = "max-width:470px;">
        <center>

            <button style = "border:0px;background-color:#4285F4; margin-top:8%;
                  height:35px; width:80%; margin-left:19%;" type = "submit" value = "Login" >
                <strong>Login</strong>
            </button>

        </center>
    </div>

</form>


<script>
    $("#inputs").change(function () {
        var fil = this.files;
        var reader = new FileReader();
        reader.readAsDataURL(fil[0]);
        reader.onload = function() {
            document.getElementById("dd").innerHTML = "<img src='"+reader.result+"'>";
        };
    });
</script>
</body>
</html>